@use "global" as *;

.mv {
  width: 100%;
  height: 100vh;
}
.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}
.mv__slider,
.swiper-wrapper,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}
.swiper-slide img {
  object-fit: cover;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  animation: zoomUp 10s linear 0s 1 normal both;
}
.swiper-slide picture {
  display: block;
}
.mv__title {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mv__title--large {
  text-align: center;
  font-size: rem(28);
  font-weight: $bold;
  line-height: lh(28, 28);
  letter-spacing: rem(0.5);
  color: $white;
  @include mq(md) {
    font-size: rem(50);
    padding-left: rem(8);
  }
}
.mv__title--small {
  text-align: center;
  font-size: rem(20);
  font-weight: $bold;
  line-height: lh(20, 20);
  letter-spacing: rem(0.5);
  color: $white;
  margin-top: rem(24);
  @include mq(md) {
    font-size: rem(25);
    padding-left: rem(8);
  }
}