@use "global" as *;

.news {
  padding-top: rem(24);
  background-color: $black;
  @include mq(md) {
    padding-top: rem(33);
    padding-left: rem(66);
  }
}
.news__inner {
  @include mq(md) {
    display: flex;
  }
}
.news__item {
  color: $white;
  @include mq(md) {
    display: flex;
  }
}
.news__item-date {
  display: inline-block;
  font-size: rem(16);
  font-weight: $normal;
  line-height: lh(23, 16);
}
.news__category {
  display: inline-block;
  font-size: rem(14);
  font-weight: $normal;
  line-height: lh(20, 14);
  padding: rem(4) rem(22);
  margin-left: rem(27);
  border: 1px solid $white;
  @include mq(md) {
    margin-left: rem(43);
  }
}
.news__content {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(3);
    margin-left: rem(60);
  }
}
.news__content--link {
  font-size: rem(16);
  font-weight: $normal;
  line-height: lh(23, 16);
  &:hover {
    text-decoration: underline;
  }
}
.news__button {
  margin-top: rem(27);
  margin-bottom: rem(100);
  @include mq(md) {
    margin-top: rem(0);
    margin-left: rem(48);
    width: initial;
  }
}
.news__button--link.button--link {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  &:hover {
    border: rem(1) solid $gray;
  }
  @include mq(md) {
    display: inline-block;
    font-size: rem(16);
    font-weight: $medium;
    line-height: lh(23, 16);
    width: rem(134);
    padding: rem(4) 0;
    background-color: $white;
    color: $black;
  }
}
.news__button--link.button--link:hover::before {
  opacity: 1;
  transform: translate(0, 0);
  background-color: $gray;
  color: $white;
}
.news__button--link.button--link::before {
  content: attr(data-hover-news);
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  padding: inherit;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
  @include mq(md) {
    font-size: rem(16);
    font-weight: $normal;
    line-height: lh(23, 16);
  }
}
.news__button--link.button--link:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.news__button--link.button--link div {
  transition: all 0.3s ease-in-out;
  @include mq(md) {
    font-size: rem(16);
    font-weight: $medium;
    line-height: lh(23, 16);
    margin-top: rem(-2);
    padding-left: rem(4);
    letter-spacing: 0;
  }
}