@use "global" as *;

.content {
  position: relative;
  width: 100%;
}
.content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: rem(679.4);
  top: rem(20);
  left: 0;
  background-image: linear-gradient(to right top, transparent 49.9%, $yellow 50%, $yellow calc(50.1% + 1px), transparent calc(50.2% + 1px));
  @include mq(md) {
    width: 94.6859%;
    height: rem(1213);
    top: rem(-24);
    left: rem(-7);
  }
}
.content__inner {
  width: 100%;
}
.content__title-wrapper {
  text-align: center;
  @include mq(md) {
    max-width: calc($inner + rem(50));
    margin-right: auto;
    margin-left: auto;
  }
}
.content__title {
  position: relative;
  @include mq(md) {
    padding-left: rem(10);
  }
}
.content__title::before {
  content: attr(data-en-content);
  position: absolute;
  top: rem(-50);
  left: 50%;
  transform: translateX(-50%);
  color: $yellow;
  opacity: 0.2;
  font-family: $second-font-family;
  font-size: rem(50);
  font-weight: $normal;
  line-height: lh(72, 50);
  letter-spacing: rem(2);
  @include mq(md) {
    font-size: rem(110);
    top: rem(-43);
    left: rem(247);
  }
}
.content__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: rem(47);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.content__link-text {
  font-size: rem(20);
  font-weight: $normal;
  line-height: lh(29, 20);
  letter-spacing: rem(2);
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;
  @include mq(md) {
    font-size: rem(25);
    line-height: lh(54, 25);
  }
}
.content__link {
  position: relative;
  aspect-ratio: 188 / 168;
  z-index: 30;
  @include mq(md) {
    aspect-ratio: 1 / 1;
  }
}
.content__link::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.content__link:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 40;
}
.content__link-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.content__link-image img {
  aspect-ratio: 188 / 168;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 1 / 1;
  }
}
