@use "global" as *;

.footer {
  text-align: center;
  color: $white;
  margin-top: rem(48);
  padding-bottom: rem(48);
  @include mq(md) {
    margin-top: rem(32);
    padding-bottom: rem(30);
  }
}
.footer__inner {
  @include mq(md) {
    padding-left: rem(32);
    padding-right: rem(16);
  }
}
.footer__wrapper {
  @include mq(md) {
    display: flex;
  }
}
.footer__logo {
  aspect-ratio: 70 / 30;
  width: rem(70);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    margin-top: rem(5);
    margin-left: 0;
  }
}
.footer__nav {
  @include mq(md) {
    display: flex;
  }
}
.footer__menu {
  padding: rem(4) 0;
}
.footer__menu:hover {
  text-decoration: underline;
  text-decoration-color: $yellow2;
  text-underline-offset: rem(10);
}
.footer__menu a {
  display: block;
  @include mq(md) {
    font-size: rem(16);
    font-weight: $normal;
    line-height: lh(35, 16);
    letter-spacing: rem(2);
    padding: 0 rem(16);
  }
}
.footer__menu a:hover {
  opacity: 1;
}
.footer__copyright {
  margin-top: rem(25);
  @include mq(md) {
    margin-top: rem(67);
  }
}
.footer__copyright small {
  @include mq(md) {
    font-size: rem(15);
    font-weight: $normal;
    line-height: lh(35, 15);
    letter-spacing: rem(1.2);
  }
}
.pagetop {
  display: block;
  width: rem(45);
  height: rem(45);
  position: fixed;
  right: 21px;
  bottom: 41px;
  background-color: $white;
  transition: 0.3s;
  z-index: 20;
  &:hover {
    background-color: $gray;
    opacity: 1;
  }
  @include mq(md) {
    right: rem(35);
    bottom: rem(34);
  }
}
.pagetop::before {
  display: block;
  position: absolute;
  content: "";
  top: rem(19);
  left: rem(12);
  width: rem(20);
  height: rem(20);
  border-top: rem(2) solid $gray;
  border-left: rem(2) solid $gray;
  transform: rotate(45deg);
  transition: 0.3s;
}
.pagetop:hover::before {
  border-top: rem(2) solid $white;
  border-left: rem(2) solid $white;
}
